<footer class="main-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Burgerfly.com</a></h2>
                <p class="menu">
                    <a href="https://www.instagram.com/kundotabanera/">Facundo Tabanera</a>
                    <br>
                    <a href="#"> Mariano Mendelsohn</a>
                    <br>
                    <a href="#">Franco Santicchia</a>
                    <br>
                    <a href="#">Mauro Osso</a>
                </p>


                </ul>

</footer>