<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

	<body>

		<%- include('./partials/ifHeader') %>

			<div class="bg-img">
				<img src="/myApp/public/images/bannerTodos.jpg" alt="">

				<form action="/product/agregarProducto" method="POST" enctype="multipart/form-data" class="formulario">
					<h1>Agregar Producto</h1>

					<label for="name"><b>Nombre del Producto</b></label>
					<input type="text" placeholder="Como se llama?" name="nuevoProducto" required>

					<label for="Descripcion"><b>Descripcion</b></label>
					<input type="text" placeholder="Contanos un poco" name="descripcion" required>

					<label for="imagen"><b>Foto</b></label>
					<input id= "imgProducto" class ="submit" type="file" placeholder="Tenes una foto?" name="imgProducto" required>


					<button type="submit" class="btn">Comparti tu burga</button>
				</form>
			</div>

			<%- include('./partials/footer')%>

	</body>

</html>