<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>

		<%- include('./partials/ifHeader') %>

			<h2 class="products-title">Editar mi perfil</h2>

			<h2 class="col-12">
				<div class="editarPerfilForm">
					<form action="/usuarios/editarPerfil" method="post" class="formulario">
						<h1></h1>

						<label for="mail"><b>mail</b></label>
						<input type="text" placeholder="Correo electronico" name="email" required>

						<label for="name"><b>Usuario</b></label>
						<input type="text" placeholder="Username" name="username" required>

						<label for="fdp"><b>Foto de Perfil</b></label>
						<input type="file" placeholder="Foto de Perfil" name="imgPerfil" required>


						<button type="submit" class="btn">Guardar Cambios</button>
					</form>
				</div>

			</h2>




			<%- include('./partials/footer') %>

	</body>

</html>