<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <form action='/' class="login-form">
				<p class="login-text">
				  <span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-lock fa-stack-1x"></i>
				  </span>
				</p>
				<input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
				<input type="password" class="login-password" required="true" placeholder="Password" />
				<input type="submit" name="Login" value="Login" class="login-submit" />
			  </form>
			  <a href="#" class="login-forgot-pass">forgot password?</a>
			  <div class="underlay-photo"></div>
			  <div class="underlay-black"></div> 
			</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>