<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %>
		<div class="">
			<form action="/action_page.php" class="container">
			  <h1></h1>
		  
			  <label for="mail"><b>mail</b></label>
			  <input type="text" placeholder="Correo electronico" name="" required>
	
			  <label for="name"><b>nombre</b></label>
			  <input type="text" placeholder="nombre" name="desc" required>
		  
			  <label for="apellido"><b>apellido</b></label>
			  <input type="text" placeholder="apellido" name="desc" required>

			  <label for="psw"><b>Password</b></label>
   	 		  <input type="password" placeholder="Enter Password" name="psw" required>

				<label for="imagen"><b>Fecha de nacimiento</b></label>
			  <input type="date" placeholder="fecha de nacimiento" >
	
			  <label for="imagen"><b></b></label>
			  <input type="file" placeholder="foto de perfil" >
	
			  
			  
		  
			  <button type="submit" class="btn">Registrarse</button>
			</form>
		</div>
		

			



							
		<%- include('./partials/footer') %>						
	</body>

</html>