<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %>
		<div class="bg-img">
		
			<form action="/action_page.php" class="formulario">
			  <h1></h1>
			 
		  
			  <label for="mail"><b>mail</b></label>
			  <input type="text" placeholder="Correo electronico" name="email" required>
	
			  <label for="name"><b>usuario</b></label>
			  <input type="text" placeholder="username" name="username" required>

			  <label for="psw"><b>Password</b></label>
   	 		  <input type="password" placeholder="Enter Password" name="psw" required>

			 <label for="f-de-nac"><b>Fecha de Nacimiento</b></label>
			 <input type="date" placeholder="Fecha de Nacimiento" name="desc" required>
		  
			  <label for="dni"><b>DNI</b></label>
			  <input type="number" placeholder="DNI" name="desc" required>

			  <label for="fdp"><b>Foto de Perfil</b></label>
   	 		  <input type="file" placeholder="Foto de Perfil" name="fdp" required>

			
			  <button type="submit" class="btn">Registrarse</button>
			</form>
		</div>
		

			



							
		<%- include('./partials/footer') %>						
	</body>

</html>